source /boot/grub/config.cfg

background_image /preseed/theme/background.png

submenu "Install Custom Image" {
	menuentry "Install Automation Controller" {
		linux	/install/vmlinuz vga=788 preseed/file=/preseed/preseed_automation_controller.cfg --- quiet auto=true hostname=debian domain=''
		initrd	/install/initrd.gz
	}
	menuentry "Install Digital Signage" {
		linux	/install/vmlinuz vga=788 preseed/file=/preseed/preseed_digital_signage.cfg --- quiet auto=true hostname=debian domain=''
		initrd	/install/initrd.gz
	}
	menuentry "Install Sign-in Kiosk" {
		linux	/install/vmlinuz vga=788 preseed/file=/preseed/preseed_sign_in_kiosk.cfg --- quiet auto=true hostname=debian domain=''
		initrd	/install/initrd.gz
	}
}

menuentry "Manual Install" {
	linux	/install/vmlinuz vga=788
	initrd	/install/initrd.gz
}

menuentry "Live Boot" {
	linux	/boot/vmlinuz boot=live toram=filesystem.squashfs components locales=en-US.UTF-8 hostname=liveboot username=tuhadmin user-fullname=tuhadmin timezone=America/New_York persistence persistence-encryption=luks persistence-media=removable-usb
	initrd	/boot/initrd.gz
}
