# Keyboard
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i keyboard-configuration/xkb-keymap select us

# Timezone
d-i time/zone string US/Eastern

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string unassigned-domain

# Display manager
lightdm	shared/default-x-display-manager select	lightdm

# Partition Scheme
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Grub stuff
d-i grub-installer/only_debian boolean true

# Package Manager
d-i apt-setup/use_mirror boolean true
d-i mirror/country string US
d-i mirror/http/mirror select deb.debian.org
d-i mirror/http/proxy string
d-i apt-setup/cdrom/set-first boolean false

# Don't Submit Usage Data 
popularity-contest popularity-contest/participate boolean false

# Install Packages
tasksel tasksel/first multiselect ssh
d-i pkgsel/include string util-linux grub-common git curl cups printer-driver-dymo chromium openbox xorg lightdm pcmanfm 
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select none
d-i pkgsel/updatedb boolean true

# Setup tuhadmin
d-i passwd/root-login boolean false
d-i passwd/user-fullname string tuhadmin 
d-i passwd/username string tuhadmin
d-i passwd/user-password-crypted password $6$SinXfuGW4/cN3nGj$MWEYPanFrHFiiiY5gpxnIVVAyFP0q9n1fLGhw0LRYGoLJwIUEtQ4gATr9Dh0AbV6XZQnvbOVK0ZxcA2QWSxOq/

# Reboot
d-i finish-install/reboot_in_progress note

# Late Command
d-i preseed/late_command string /preseed/late_command.sh sign_in_kiosk
