[Unit]
Name=Idle Manager
Description=Invoke a screensaver or suspend state after user idle

[Service]
Type=simple
ExecStart=/usr/bin/xidlehook \
    --detect-sleep \
    --not-when-audio \
    --timer 600 'screensaver' '' \
    --timer 28800 'xset s activate' ''
Restart=on-failure

[Install]
WantedBy=graphical-session.target
